const {
    MessageEmbed
} = require("discord.js");

module.exports = {
    name: "",
    aliases: [''],
    /**
     *
     * @param {Client} client
     * @param {Message} message
     * @param {String[]} args
     */
    run: async (client, message, args) => {


    },
};